/*
Created by converting https://github.com/clauderic/dnd-kit/blob/master/stories/components/Container/Container.module.css
using https://jsonformatter.org/scss-to-css
*/

.Container {
  display: flex;
  flex-direction: column;
  grid-auto-rows: max-content;
  overflow: hidden;
  box-sizing: border-box;
  appearance: none;
  outline: none;
  /* min-width: 350px; */
  /* margin: 10px; */
  border-radius: 5px;
  /* min-height: 200px; */
  transition: background-color 350ms ease;
  background-color: rgba(246, 246, 246, 1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1em;
  /* overflow-y: auto; */
  /* height: 100% */
  max-height: 100vh;
}
.Container ul {
  display: grid;
  /* grid-area: 2 / 1 / 2 / 4; */
  grid-gap: 10px 5px;
  justify-content: start;
  /* justify-items: center; */
  grid-template-columns: repeat(var(--columns, 1), 1fr);
  /* list-style: inside; */
  /* padding: 20px; */
  padding: 10px 10px;
  margin: 0px;
  border: 0px;
  text-align: center;
  list-style-type: none;
  text-align: center;
}
.Container.scrollable ul {
  overflow-y: auto;
}
.Container.placeholder {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border-style: dashed;
  border-color: rgba(0, 0, 0, 0.08);
}
.Container.placeholder:hover {
  border-color: rgba(0, 0, 0, 0.15);
}
.Container.hover {
  background-color: #ebebeb;
}
.Container.unstyled {
  overflow: visible;
  background-color: transparent !important;
  border: none !important;
}
.Container.horizontal {
  width: 100%;
}
.Container.horizontal ul {
  grid-auto-flow: column;
}
.Container.shadow {
  box-shadow: 0 1px 10px 0 rgba(34, 33, 81, 0.1);
}
.Container:focus-visible {
  border-color: transparent;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), 0 0px 0px 2px #4c9ffe;
}
.Header {
  display: flex;
  padding: 5px 20px;
  padding-right: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.Header:hover .Actions > * {
  opacity: 1 !important;
}
.Actions {
  display: flex;
}
/* .Actions > *:first-child:not(:last-child) {
  opacity: 0;
}
.Actions > *:first-child:not(:last-child):focus-visible {
  opacity: 1;
} */
